@use "../utility";
@use "layout";

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

// Set alternate hover for any a tag with white colour
a.has-white-color,
.has-white-color a {
  &:hover,
  &:focus {
    color: lightgray;
  }
}

main a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Keep body from scrolling when modal open
body.modal-open {
  overflow: hidden;
  // Handle iOS Safari bug where overflow: hidden doesn't always work
  touch-action: none;
  -ms-touch-action: none;
}

//Keep site from collapsing if content isn't full height
.site {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.custom-logo-link {
  width: utility.generate-vw-clamp(50, 75);
  img {
    max-width: 100%;
    height: auto;
  }
}

.wp-block-image img {
  height: auto;
}

.position-behind > * {
  z-index: 1;
}

.wp-block-spacer {
  @media (max-width: 600px) {
    max-height: 50px;
  }
}

.rates {
  .has-column {
    @media (max-width: 600px) {
      display: none !important;
    }
  }
  .has-column::before {
    z-index: 1;
    // height: calc(100% + 100px);
    bottom: -50px;
  }
  .wp-block-column:last-child {
    display: grid;
    align-items: center;
    p {
      z-index: 2;
    }
  }
}

.other {
  .wp-block-image img {
    @media (max-width: 600px) {
      max-height: 300px;
      object-fit: contain;
    }
  }
  .wrap-early.wp-block-columns {
    h2 {
      line-height: 1.1;
    }
    > .wp-block-column {
      align-content: start;
      position: relative;
      padding: 25px; 
      display: grid;
      gap: 0.5rem;
      > * {
        margin: 0;
      }
      &::before,
      &::after {
        content: "";
        display: block;
        width: 25%;
        height: 25%;
        position: absolute;
      }
      &::before {
        top: 0;
        left: 0;
        border-top: 1px solid var(--wp--preset--color--primary);
        border-left: 1px solid var(--wp--preset--color--primary);
      }
      &::after {
        right: 0;
        bottom: 0;
        border-bottom: 1px solid var(--wp--preset--color--primary);
        border-right: 1px solid var(--wp--preset--color--primary);
      }
      @media (max-width: 800px) {
        flex-basis: 100% !important;
        margin: 0;
      }
    }
  }
}

.gf_readonly input {
  border-top: none;
  border-left: none;
  border-right: none;
}


.wp-block-post-template > li {
  box-shadow: -20.84px 22px 30px #B0B0B01A;
  margin-bottom: 30px;
}

.wp-block-post-template .wp-block-columns,
.wp-block-post-template .wp-block-group {
  padding: 30px;
}

.wp-block-post-template .wp-block-column {
  @extend .stack;
}

.wp-block-post-excerpt__excerpt::after {
  content: "..."
}

.wp-block-post-excerpt__more-text {
  margin-bottom: 0;
}

.wp-block-post-excerpt__more-link {
  color: var(--wp--preset--color--grey);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover,
  &:focus {
    color: black;
    &::before {
      transform: scaleX(1.1);
      transform-origin: left;
    }
  }
  &::before {
    content: "";
    transition: transform 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='39' height='16' viewBox='0 0 39 16'%3E%3Cg id='Arrow' transform='translate(-390 -1229)'%3E%3Cimage id='_Trazado_Trazado_Trazado_Trazado_Trazado_' data-name='&lt;Trazado&gt; + &lt;Trazado&gt; + &lt;Trazado&gt; + &lt;Trazado&gt; + &lt;Trazado&gt;' width='39' height='16' transform='translate(390 1229)' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAJ6ADAAQAAAABAAAAEAAAAAAO/YQEAAAB+0lEQVRIDc3VOUgcURzH8V2vxUJlWUEUD1gPsEghilYqFmkCCRYiQbFViIKFoAEFKxEVG0k6KytFC0NCiATtFRWCR4KIgtgEREm80AT1+3u7C+OyA7OzoPuHzxxv3pv35l3jDQaDHpdRSbkOvEIZ0uHFX/zAAuZwClfhddG4ADWNoAuXWMIqDuFDBRrRgD8YxEfEHWlxlnhB/k8oQj+mcYZYoZ59jw9oQjtu4Dji6blS3roGDdMb/ISTaCXTLL6iGf/hKFL9fr+TjBlk+gYNWz0O4DR2yLiBYaRiBdYo5+YllO9RpDy6s7/R/KpGG47ts9k++cKTMWj+abitoTmqnp20JuraSc+pt+bxHRNwG5oS75CNz5aX7HOtuTgEDaNGyISTnqslZwFcrbhQNeaoLWYGLcg0KaHDPadRDKAXUzDhpHE15LzCeqhIQkf1inpHHxsd4yR0ogda4R5tJVriKnCH6NBXvcVvnEc/dHEfma99lN2CNu1IqC4Nr4a/Gz5tJZtclMCucTwyK0yNTDSKecEycmBtWOS9t+H0fM4n6rk6aKuIFfoa/ZauYz10kXZEmapwOXWGtYH/uNdwa2Wr3tdqnBLlqeLCpqJc0heRB/1RttW4ZAgNo4Y7gEbswiwInZ8zCql8BVlQw37BRDL0nOa8tjQ1bM+0Knx4ALNwWRiMqR3QAAAAAElFTkSuQmCC'/%3E%3Cimage id='_Grupo_' data-name='&lt;Grupo&gt;' width='12' height='11' transform='translate(403 1234)' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAADKADAAQAAAABAAAACwAAAACC5AR3AAAAqUlEQVQoFWP8P4UBBsKBjAYg1oAJQOkLQLoKiLeD+EwgAghygXgFEKMrBskZAPEWII4AcRiBNhgB6VNAzAwSwAO+AOUMQDaATCekGGQODxCngTRYgHhEAkuQBg4iFYOUsYM0fCRBw2eQhh0kaNgG0jAViF8ToekeUM18kIbHQAyKtHdAjAs8AUqEAvF7kAYQ2A/ENkC8HIhBtr2H4hdAeh4Q2wLxOSBmAACtEx3U07gdBAAAAABJRU5ErkJggg=='/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 40px;
    height: 16px;
    display: inline-block;
    margin-right: 15px;
  }
}

.wp-block-post-title a {
  color: var(--wp--preset--color--black);
  text-decoration: none;
}

.wp-block-post-date,
.wp-block-post-excerpt {
  --space: 0;
}