@use "../utility";
@use "layout";

// Keep footer at bottom of page
html, body { height: 100%; } 

body > footer {
  position: sticky;
  top: 100vh;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

// Set alternate hover for any a tag with white colour
a.has-white-color,
.has-white-color a {
  &:hover,
  &:focus {
    color: lightgray;
  }
}

main a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Keep body from scrolling when modal open
body.modal-open {
  overflow: hidden;
  // Handle iOS Safari bug where overflow: hidden doesn't always work
  touch-action: none;
  -ms-touch-action: none;
}

.custom-logo-link {
  width: utility.generate-vw-clamp(50, 75);
  img {
    max-width: 100%;
    height: auto;
  }
}

.wp-block-image img {
  height: auto;
}
