@use "../utility";

.pattern--banner {
    margin: 0 1em;
    position: relative;
    align-items: stretch;
    svg.bar {
        max-width: 175px;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    p,
    h1 {
        margin: 0;
    }
    h1 {
        line-height: 1.1;
        margin-bottom: 0.5em;
    }
    .wp-block-columns {
        height: 100%;
        margin-bottom: 0;
    }
    .wp-block-column:last-child {
        > * {
            max-width: 600px;
            margin-left: auto;
        }
        p:first-of-type {
            font-weight: 700;
            text-transform: lowercase;
        }
    }
    p.has-medium-font-size {
        margin-bottom: 0.5em;
        font-weight: 600;
    }
    .wp-block-social-links {
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 0;
    }
    .wp-block-buttons {
        margin-top: 25px;
    }
}