@use "utility";

// DEFAULT BUTTON
.wp-block-button .wp-block-button__link {
    border: 2px solid transparent;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    transition: filter 0.3s ease-in-out;
    --hoverHueRotate: 75deg;
    &:hover,
    &:focus {
        filter: hue-rotate(var(--hoverHueRotate, 45deg));
    }
}

.is-style-outline>.wp-block-button__link {
    border-color: currentColor;
    &:not(.has-text-color) {
        color: var(--wp--preset--color--secondary);
    }
    &:not(.has-background-color) {
        background-color: transparent;
    }
}