@use "variables";

.site-header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 20;
}

.site-header__inner,
.menu-wrapper {
    display: flex;
}

.site-header__inner {
    align-items: center;
    justify-content: space-between;
    @media (max-width: variables.$nav-breakpoint - 1) {
        flex-wrap: wrap;
    }
}

.primary-navigation {
    @media (max-width: variables.$nav-breakpoint - 1) {
        color: var(--wp--preset--color--white);
        background: var(--wp--preset--color--primary);
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        .primary-menu-container {
            max-height: calc(100vh - var(--headerHeight));
            overflow: auto;
            padding: 50px 25px 25px 25px;
        }
    }
}